<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/03%20create%20dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
friend_dict_list = [
                    {'name': 'John', 'age':25, 'job':'student'},
                    {'name': 'Nate', 'age':30, 'job':'teacher'}
]

df = pd.DataFrame(friend_dict_list)
df

##딕셔너리의는 키의 값의 순서를 보장하지 않는다. = 헤더가 순서가 뒤죽박죽이 될 수 있다.

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [7]:
df = df[['name', 'age', 'job']]  ##df 의 헤더를 재정렬 해준다. 

df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [9]:
from collections import OrderedDict #딕셔너리의 키의 순서를 보장한다.

In [12]:
friend_ordered_dict = OrderedDict(
    [
     ('name',['John','Nate']),
     ('age',[25,30]),
     ('job',['student','teacher'])
    ]
)

df = pd.DataFrame.from_dict(friend_ordered_dict)
df

#딕셔너리가 아닌 형태의 데이터를 데이터프레임하기 + 키의 값 순서 보장하기

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [17]:
friend_list = [
               ['John', 20, 'student'],
               ['Nate', 30, 'teacher']
]

column_name = ['name', 'age', 'job']

##리스트 형태의 데이터와 헤더가 따로 존재할 때

df = pd.DataFrame.from_records(friend_list, columns = column_name)
df

   name  age      job
0  John   20  student
1  Nate   30  teacher

In [21]:
friend_list = [
               ['name', ['John', 'Nate']],
               ['age', [20,30]],
               ['job', ['student', 'teacher']]
]

#리스트이 형태로 한 번에 정보가 주어진 경우

from collections import OrderedDict
df = pd.DataFrame.from_dict(OrderedDict(friend_list))
df

   name  age      job
0  John   20  student
1  Nate   30  teacher