<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/04%20save%20data%20to%20csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

friends = [
           {'name': 'Jone', 'age': 20, 'job': 'student'},
           {'name': 'Jenny', 'age': 30, 'job': None},
           {'name': 'Nate', 'age': 30, 'job': 'teacher'}
]

df = pd.DataFrame(friends)
df = df[['name', 'age', 'job']]
df

#데이터를 생성해주었다.

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [2]:
##이를 csv 파일로 저장하기

df.to_csv('friends.csv')
#contet 파일에 저장이 되었다. 
#None 값을 넣은 곳은

In [3]:
df.to_csv('friends.csv', index = True, header= True, na_rep='-')

##index와 header는 디폴트가 True이다. 따라서 굳이 이를 넣지 않아도 된다. 
##근데 만약 index를 False를 하면 1열에 행에 대한 인덱스가 나오던 것이 안나오게 된다. 
##header를 false로 하면 데이터만 저장이 되고 헤더가 저장이 안된다. 
##np_rap 은 'None 값은 다음 값을 넣어라' 라는 의미이다. 위에서는 빈 칸이 아니라 대쉬를 넣을 것을 명령하고 있다.