<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/05%20filter%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
from collections import OrderedDict

friend_list = [
               ['name', ['John', 'Jenny', 'Nate']],
               ['age',[20,30,30]],
               ['job',['student', 'developer','teacher']]
                
]

df = pd.DataFrame.from_dict(OrderedDict(friend_list))
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [12]:
## df = df[1:3] 을 하면 df를 변경할 수 있다. 
df.loc[ [0,2] ] ## location, 인덱싱한 행만 출력한다.

   name  age      job
0  John   20  student
2  Nate   30  teacher

In [14]:
## by column condition
##df[df.age>25]  ## 나이가 25보다 많은 사람만 출력. 
##df.query('age>25')  ## 쿼리처럼 쓸 수도 있다. 

##나이가 25이상이고 이름이 네이트인 사람
df[(df.age>25) & (df.name == 'Nate')]

   name  age      job
2  Nate   30  teacher

In [16]:
friend_list = [
               ['John', 20, 'student'],
               ['Jenny', 30, 'developer'],
               ['Nate', 30 , 'teacher']                
]

df = pd.DataFrame.from_records(friend_list)
df

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher

In [17]:
df.iloc[:, 0:2]  ## ilic는 행과 열을 모두 인덱싱한다. 앞이 행(:로 했으므로 전부다), 뒤가 열이다.

       0   1
0   John  20
1  Jenny  30
2   Nate  30

In [18]:
df = pd.read_csv('friend_list_no_head.csv', header = None, names = ['name', 'age', 'job'])
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [20]:
##열의 이름으로 필터링하기

df_filtered = df[['name', 'age']]
df_filtered

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [21]:
##filter 함수를 이용
df.filter(items=['age', 'job'])

   age        job
0   20    student
1   30  developer
2   30    teacher
3   40    dentist
4   45    manager
5   25     intern

In [22]:
##column 이름에 a가 들어가는 열만 출력. axis=0이면 행, axis=1이면 열에 적용

df.filter(like = 'a', axis=1)

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [25]:
df.filter(regex='b$', axis=1) ##b로 끝나는 열만 출력. 만약 n으로 시작하는 것만 출력하려면 ^n

         job
0    student
1  developer
2    teacher
3    dentist
4    manager
5     intern