<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/08%20group%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

student_list = [
                {'name': 'John', 'major' : 'computer science',  'sex': 'male'},
                {'name': 'Nate', 'major' : 'computer science',  'sex': 'male'},
                {'name': 'Abraham', 'major' : 'physics',  'sex': 'male'},
                {'name': 'Brian', 'major' : 'psychology',  'sex': 'male'},
                {'name': 'Janny', 'major' : 'economics',  'sex': 'female'},
                {'name': 'Yuna', 'major' : 'economics',  'sex': 'female'},
                {'name': 'Jeniffer', 'major' : 'computer science',  'sex': 'female'},
                {'name': 'Edward', 'major' : 'computer science',  'sex': 'male'},
                {'name': 'Zara', 'major' : 'psychology',  'sex': 'female'},
                {'name': 'Wendy', 'major' : 'economics',  'sex': 'female'},
                {'name': 'Sera', 'major' : 'psychology',  'sex': 'female'}
]
df = pd.DataFrame(student_list, columns = ['name', 'major', 'sex'])
df

        name             major     sex
0       John  computer science    male
1       Nate  computer science    male
2    Abraham           physics    male
3      Brian        psychology    male
4      Janny         economics  female
5       Yuna         economics  female
6   Jeniffer  computer science  female
7     Edward  computer science    male
8       Zara        psychology  female
9      Wendy         economics  female
10      Sera        psychology  female

In [6]:
# groupby() 함수는 특정 열에서 값들에 따라 분류해주는 함수이다. dict 형태로 출력되면 리스트안에는 행의 인덱스로 출력한다. 

groupby_major = df.groupby('major')

groupby_major.groups

{'computer science': [0, 1, 6, 7], 'economics': [4, 5, 9], 'physics': [2], 'psychology': [3, 8, 10]}

In [9]:
#깔끔하게 출력해보기

for name, group in groupby_major:
  print(name + ':' , str(len(group)))
  print(group)
  print()

computer science: 4
       name             major     sex
0      John  computer science    male
1      Nate  computer science    male
6  Jeniffer  computer science  female
7    Edward  computer science    male

economics: 3
    name      major     sex
4  Janny  economics  female
5   Yuna  economics  female
9  Wendy  economics  female

physics: 1
      name    major   sex
2  Abraham  physics  male

psychology: 3
     name       major     sex
3   Brian  psychology    male
8    Zara  psychology  female
10   Sera  psychology  female

In [10]:
#학과별 인원수를 나타내는 데이터프레임 만들기

df_major_cnt = pd.DataFrame({'count': groupby_major.size()}).reset_index()
df_major_cnt

              major  count
0  computer science      4
1         economics      3
2           physics      1
3        psychology      3

In [11]:
groupby_sex = df.groupby('sex')