<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/12%20map%2C%20applymap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
date_list = [
             {'date': '2000-06-27'},
             {'date': '2002-09-24'},
             {'date': '2005-12-20'}
]

df = pd.DataFrame(date_list,columns = ['date'])
df

         date
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [6]:
def extract_year(date):
  return date.split('-')[0]

df['year'] = df['date'].map(extract_year)
df

##map 함수도 apply와 똑같이 쓸 수 있다.

         date  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [7]:
job_list = [
            {'age': 20, 'job': 'student'},
            {'age': 30, 'job': 'developer'},
            {'age': 20, 'job': 'teacher'}
]

df = pd.DataFrame(job_list)
df

   age        job
0   20    student
1   30  developer
2   20    teacher

In [8]:
df.job = df.job.map({'student':1, "developer": 2, 'teacher':3})
df

##map 함수는 apply함수처럼 column을 변경시킬 수 있고, 딕셔너리를 직접 전달해서 원하는 값으로 변경할 수도 있다.

   age  job
0   20    1
1   30    2
2   20    3

In [10]:
x_y = [
       {'x':5.5, 'y':-5.6, 'z': -1.1},
       {'x':-5.2, 'y':5.5, 'z': -2.2},
       {'x':-1.6, 'y':-4.5, 'z': -3.3}
]

df = pd.DataFrame(x_y)

df

     x    y    z
0  5.5 -5.6 -1.1
1 -5.2  5.5 -2.2
2 -1.6 -4.5 -3.3

In [13]:
import numpy as np

df = df.applymap(np.around)
## 데이터프레임 전체를 덮는 것, np.around는 반올림

In [14]:
df

     x    y    z
0  6.0 -6.0 -1.0
1 -5.0  6.0 -2.0
2 -2.0 -4.0 -3.0