<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/13%20unique%20value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

job_list = [
            {'name': 'John', 'job': 'teacher'},
            {'name': 'Nate', 'job': 'teacher'},
            {'name': 'Fred', 'job': 'teacher'},
            {'name': 'Abraham', 'job': 'student'},
            {'name': 'Brian', 'job': 'student'},
            {'name': 'Janny', 'job': 'developer'},
            {'name': 'Nate', 'job': 'teacher'},
            {'name': 'Ian', 'job': 'teacher'},
            {'name': 'Chris', 'job': 'banker'},
            {'name': 'Philip', 'job': 'lawyer'},
            {'name': 'Janny', 'job': 'basketball player'},
            {'name': 'Gwen', 'job': 'teacher'},
            {'name': 'Jessy', 'job': 'student'}
]

df = pd.DataFrame(job_list, columns = ['name', 'job'])
df

       name                job
0      John            teacher
1      Nate            teacher
2      Fred            teacher
3   Abraham            student
4     Brian            student
5     Janny          developer
6      Nate            teacher
7       Ian            teacher
8     Chris             banker
9    Philip             lawyer
10    Janny  basketball player
11     Gwen            teacher
12    Jessy            student

In [2]:
df.job.unique()
## job에 있는 유니크한 값들을 알려줌. teacher가 여러개여도 하나만 나온다.

array(['teacher', 'student', 'developer', 'banker', 'lawyer',
       'basketball player'], dtype=object)

In [3]:
df.job.value_counts()

## 각 값들의 count 값을 알려준다.

teacher              6
student              3
developer            1
banker               1
basketball player    1
lawyer               1
Name: job, dtype: int64