<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/14%20combine%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [14]:
a = [{'name': 'John', 'job':'teacher'}, 
      {'name': 'Nate', 'job':'student'},
      {'name': 'Fred', 'job':'developer'}]


b =  [{'name': 'Ed', 'job':'dentist'},
      {'name': 'Jack', 'job':'farmer'},
      {'name': 'Ted', 'job':'designer'}]

c =  [{'name': 'John', 'job':'teacher'},
      {'name': 'Nate', 'job':'student'},
      {'name': 'Jack', 'job':'developer'}]

d = [{'age': 25, 'country':'U.S'},
      {'age': 30, 'country':'U.K'},
      {'age': 45, 'country':'Korea'}]

In [15]:
df1 = pd.DataFrame(a, columns = ['name', 'job'])
df2 = pd.DataFrame(b, columns = ['name', 'job'])

In [16]:
df1

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer

In [17]:
df2

   name       job
0    Ed   dentist
1  Jack    farmer
2   Ted  designer

In [18]:
#두 테이블 합치기

result = pd.concat([df1, df2])
result

##근데 인덱스가 012012로 된다. 이를 다시 순서대로 맙추려면 ignore_index = True 를 하면 된다.

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
0    Ed    dentist
1  Jack     farmer
2   Ted   designer

In [19]:
#또다른 방법
result = df1.append(df2, ignore_index = True)
result

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
3    Ed    dentist
4  Jack     farmer
5   Ted   designer

In [20]:
#열 합치기
df1 = pd.DataFrame(c, columns = ['name', 'job'])
df2 = pd.DataFrame(d, columns = ['age', 'country'])

In [21]:
result = pd.concat([df1, df2], axis = 1, ignore_index = True)
result

## axis만 1로 해주며 ㄴ된다.

      0          1   2      3
0  John    teacher  25    U.S
1  Nate    student  30    U.K
2  Jack  developer  45  Korea

In [24]:
##두 데이터 비교하는 테이블 만들기
label = [1,2,3,4,5]

prediction = [1,2,2,4,4]

comparison = pd.DataFrame({'label':label, 'prediction':prediction})
comparison

   label  prediction
0      1           1
1      2           2
2      3           2
3      4           4
4      5           4