<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/delete%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

friends = [{'age': 15, 'job': 'student'},
           {'age':25, 'job': 'developer'},
           {'age': 30, 'job':'teacher'}
           ]

df = pd.DataFrame(friends, index = ['John', 'Jenny', 'Nate'], columns=['age', 'job'])
df

       age        job
John    15    student
Jenny   25  developer
Nate    30    teacher

In [2]:
df.drop(['John','Nate'])

#원하는 인덱스의 정보를 없앤다.

       age        job
Jenny   25  developer

In [7]:
df.drop(['John', 'Nate'], inplace = True)
df
## 원래는 df=df.drop 을 해야 없앤 정보가 저장이 되는데 inplace를 하면 바로 df에 적용된다.

       age        job
Jenny   25  developer

In [14]:
friends = [{'name': 'John', 'age': 15, 'job': 'student'},
           {'name':'Ben', 'age':25, 'job': 'developer'},
           {'name': 'Jenny', 'age': 30, 'job':'teacher'}
           ]

df = pd.DataFrame(friends, columns=['name', 'age', 'job'])
df

##인덱싱이 0,1,2로 되었다.

    name  age        job
0   John   15    student
1    Ben   25  developer
2  Jenny   30    teacher

In [15]:
df = df.drop(df.index[[0,2]])
df
##인덱스를 이용해 제거

  name  age        job
1  Ben   25  developer

In [16]:
friends = [{'name': 'John', 'age': 15, 'job': 'student'},
           {'name':'Ben', 'age':25, 'job': 'developer'},
           {'name': 'Jenny', 'age': 30, 'job':'teacher'}
           ]

df = pd.DataFrame(friends, columns=['name', 'age', 'job'])
df

    name  age        job
0   John   15    student
1    Ben   25  developer
2  Jenny   30    teacher

In [17]:
##나이가 스무 살 이상인 사람만 보기

df = df[df.age>20]

df

In [18]:
friends = [{'name': 'John', 'age': 15, 'job': 'student'},
           {'name':'Ben', 'age':25, 'job': 'developer'},
           {'name': 'Jenny', 'age': 30, 'job':'teacher'}
           ]

df = pd.DataFrame(friends, columns=['name', 'age', 'job'])
df

    name  age        job
0   John   15    student
1    Ben   25  developer
2  Jenny   30    teacher

In [19]:
df = df.drop('age', axis=1)
df

##axis=1은 열에 해당하는 명령이라는 것. age 열만 삭제했다.

    name        job
0   John    student
1    Ben  developer
2  Jenny    teacher